<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input class='new-todo' placeholder="What needs to be done ?" v-model='newTodo' @keydown.enter="addTodo">
        <ul class="todo-list">
            <li class="todo" v-for="todo in filterTasks" :class='{completed: todo.status, editing: state === 1}'>
                <input id="editTask" class="edit" type="text" v-model='todo.name' @keydown.enter="editTodo(todo)">
                <div class="view">
                    <input class="toggle" type="checkbox" v-model='todo.status'>
                    <label v-on:dblclick = "edit(todo)">{{ todo.name }}</label>
                    <button class="destroy" v-on:click="remove(todo)"></button>
                </div>
            </li>
        </ul>
        <footer class="footer">
            <ul class = "filters">
                <li><a href="#/all" v-on:click = "visibility = 'all'" > All </a></li>
                <li><a href="#/active" v-on:click = "visibility = 'active'"> Active </a></li>
                <li><a href="#/completed" v-on:click = "visibility = 'completed'"> Completed </a></li>
            </ul>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>